
<h1>Welcome to Bootstrap 4</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et,
   distinctio perspiciatis, fuga minus facilis ea quae qui laborum
   cupiditate accusamus.
</p>
<button class="btn btn-primary">Button</button>
<div class="card">
                          <div class="card-header">
                              <div class="row align-items-center">
                                  <div class="col-lg-4">
                                      <div class="card-title">Recent Orders</div>
                                  </div>
                                  <div class="col-lg-8 col-md-12">
                                      <div class="row">
                                          <div class="col-md-4 col-lg-6 d-flex justify-content-md-end sort-index">
                                              <div class="dropdown mr-2">
                                                  <button class="btn btn-white dropdown-toggle" type="button" id="sortOrdersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sort By
                </button>
                                                  <div class="dropdown-menu">
                                                      <a class="dropdown-item" href="#">Date</a>
                                                      <a class="dropdown-item" href="#">ID</a>
                                                      <a class="dropdown-item" href="#">Name</a>
                                                  </div>
                                              </div>
                                              <div class="dropdown mr-4">
                                                  <button class="btn btn-white dropdown-toggle" type="button" id="filterOrdersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filter
                </button>
                                                  <div class="dropdown-menu" aria-labelledby="filterOrdersDropdown">
                                                      <a class="dropdown-item" href="#">Delivered</a>
                                                      <a class="dropdown-item" href="#">Failed</a>
                                                      <a class="dropdown-item" href="#">Pending</a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-md-8 col-lg-6">
                                              <form class="form-inline float-right">
                                                  <div class="form-group mr-3">
                                                      <label class="control-label mr-1">From:</label>
                                                      <input type="text" class="datepicker form-control" value="10/24/2017">
                                                  </div>
                                                  <div class="form-group mb-0">
                                                      <label class="control-label mr-1">To: </label>
                                                      <input type="text" class="datepicker form-control" value="10/25/2017">
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="table-responsive">
                              <table class="table m-0">
                                  <thead>
                                      <tr class="bg-fade">
                                          <th style="width: 120px;">Date</th>
                                          <th>Name</th>
                                          <th style="width: 100px;"># INV</th>
                                          <th style="width: 140px;">Amount</th>
                                          <th style="width: 100px">Status</th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody>

                                      <tr>
                                          <td class="align-middle">23 Feb 2018</td>
                                          <td class="align-middle">
                                              <div><i class="material-icons align-middle md-18 text-link-color">contacts</i> <a href="#"> Tara Knows</a>
                                                  <em class="text-muted ml-1">(Sales Manager)</em>
                                              </div>

                                          </td>

                                          <td class="align-middle">
                                              <a href="#">#31982</a>
                                          </td>
                                          <td class="align-middle">$8650.99</td>
                                          <td class="align-middle">
                                              <div class="badge badge-warning">pending</div>
                                          </td>
                                          <td class="align-middle" style="width:40px">
                                              <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons md-18 align-middle">more_vert</i>
              </a>

                                              <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="#">
                  <i class="material-icons md-14 align-middle">assignment</i>
                  <span class="align-middle">Manage</span>
                </a>
                                                  <a class="dropdown-item" href="#">
                  <i class="material-icons md-14 align-middle">content_copy</i>
                  <span class="align-middle">Duplicate</span>
                </a>
                                                  <div class="dropdown-divider"></div>
                                                  <a class="dropdown-item text-danger" href="#">
                  <i class="material-icons md-14 align-middle">delete</i>
                  <span class="align-middle">Delete</span>
                </a>
                                              </div>
                                          </td>
                                      </tr>

                                      <tr>
                                          <td class="align-middle">09 Feb 2018</td>
                                          <td class="align-middle">
                                              <div><i class="material-icons align-middle md-18 text-link-color">contacts</i> <a href="#"> Karen Smith</a>
                                                  <em class="text-muted ml-1">(Sales Representative)</em>
                                              </div>

                                          </td>

                                          <td class="align-middle">
                                              <a href="#">#11102</a>
                                          </td>
                                          <td class="align-middle">$3445.00</td>
                                          <td class="align-middle">
                                              <div class="badge badge-danger">failed</div>
                                          </td>
                                          <td class="align-middle" style="width:40px">
                                              <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons md-18 align-middle">more_vert</i>
              </a>

                                              <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="#">
                  <i class="material-icons md-14 align-middle">assignment</i>
                  <span class="align-middle">Manage</span>
                </a>
                                                  <a class="dropdown-item" href="#">
                  <i class="material-icons md-14 align-middle">content_copy</i>
                  <span class="align-middle">Duplicate</span>
                </a>
                                                  <div class="dropdown-divider"></div>
                                                  <a class="dropdown-item text-danger" href="#">
                  <i class="material-icons md-14 align-middle">delete</i>
                  <span class="align-middle">Delete</span>
                </a>
                                              </div>
                                          </td>
                                      </tr>

                                      <tr>
                                          <td class="align-middle">08 Jan 2017</td>
                                          <td class="align-middle">
                                              <div><i class="material-icons align-middle md-18 text-link-color">contacts</i> <a href="#"> Steven Short</a>
                                                  <em class="text-muted ml-1">(Sales Manager)</em>
                                              </div>

                                          </td>

                                          <td class="align-middle">
                                              <a href="#">#11990</a>
                                          </td>
                                          <td class="align-middle">$2390.75</td>
                                          <td class="align-middle">
                                              <div class="badge badge-success">delivered</div>
                                          </td>
                                          <td class="align-middle" style="width:40px">
                                              <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons md-18 align-middle">more_vert</i>
              </a>

                                              <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="#">
                  <i class="material-icons md-14 align-middle">assignment</i>
                  <span class="align-middle">Manage</span>
                </a>
                                                  <a class="dropdown-item" href="#">
                  <i class="material-icons md-14 align-middle">content_copy</i>
                  <span class="align-middle">Duplicate</span>
                </a>
                                                  <div class="dropdown-divider"></div>
                                                  <a class="dropdown-item text-danger" href="#">
                  <i class="material-icons md-14 align-middle">delete</i>
                  <span class="align-middle">Delete</span>
                </a>
                                              </div>
                                          </td>
                                      </tr>

                                      <tr>
                                          <td class="align-middle">18 Dec 2017</td>
                                          <td class="align-middle">
                                              <div><i class="material-icons align-middle md-18 text-link-color">contacts</i> <a href="#"> Mark Ups</a>
                                                  <em class="text-muted ml-1">(CEO / Co-Founder)</em>
                                              </div>

                                          </td>

                                          <td class="align-middle">
                                              <a href="#">#40915</a>
                                          </td>
                                          <td class="align-middle">$19231.50</td>
                                          <td class="align-middle">
                                              <div class="badge badge-success">delivered</div>
                                          </td>
                                          <td class="align-middle" style="width:40px">
                                              <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons md-18 align-middle">more_vert</i>
              </a>

                                              <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="#">
                  <i class="material-icons md-14 align-middle">assignment</i>
                  <span class="align-middle">Manage</span>
                </a>
                                                  <a class="dropdown-item" href="#">
                  <i class="material-icons md-14 align-middle">content_copy</i>
                  <span class="align-middle">Duplicate</span>
                </a>
                                                  <div class="dropdown-divider"></div>
                                                  <a class="dropdown-item text-danger" href="#">
                  <i class="material-icons md-14 align-middle">delete</i>
                  <span class="align-middle">Delete</span>
                </a>
                                              </div>
                                          </td>
                                      </tr>

                                      <tr>
                                          <td class="align-middle">17 Nov 2017</td>
                                          <td class="align-middle">
                                              <div><i class="material-icons align-middle md-18 text-link-color">contacts</i> <a href="#"> Steven Short</a>
                                                  <em class="text-muted ml-1">(Sales Assistant Manager)</em>
                                              </div>

                                          </td>

                                          <td class="align-middle">
                                              <a href="#">#40912</a>
                                          </td>
                                          <td class="align-middle">$19231.50</td>
                                          <td class="align-middle">
                                              <div class="badge badge-success">delivered</div>
                                          </td>
                                          <td class="align-middle" style="width:40px">
                                              <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons md-18 align-middle">more_vert</i>
              </a>

                                              <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="#">
                  <i class="material-icons md-14 align-middle">assignment</i>
                  <span class="align-middle">Manage</span>
                </a>
                                                  <a class="dropdown-item" href="#">
                  <i class="material-icons md-14 align-middle">content_copy</i>
                  <span class="align-middle">Duplicate</span>
                </a>
                                                  <div class="dropdown-divider"></div>
                                                  <a class="dropdown-item text-danger" href="#">
                  <i class="material-icons md-14 align-middle">delete</i>
                  <span class="align-middle">Delete</span>
                </a>
                                              </div>
                                          </td>
                                      </tr>

                                      <tr>
                                          <td class="align-middle">08 Oct 2017</td>
                                          <td class="align-middle">
                                              <div><i class="material-icons align-middle md-18 text-link-color">contacts</i> <a href="#"> Karen Smith</a>
                                                  <em class="text-muted ml-1">(Sales Representative)</em>
                                              </div>

                                          </td>

                                          <td class="align-middle">
                                              <a href="#">#1928</a>
                                          </td>
                                          <td class="align-middle">$1100.50</td>
                                          <td class="align-middle">
                                              <div class="badge badge-danger">failed</div>
                                          </td>
                                          <td class="align-middle" style="width:40px">
                                              <a class="btn btn-white btn-sm" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons md-18 align-middle">more_vert</i>
              </a>

                                              <div class="dropdown-menu">
                                                  <a class="dropdown-item" href="#">
                  <i class="material-icons md-14 align-middle">assignment</i>
                  <span class="align-middle">Manage</span>
                </a>
                                                  <a class="dropdown-item" href="#">
                  <i class="material-icons md-14 align-middle">content_copy</i>
                  <span class="align-middle">Duplicate</span>
                </a>
                                                  <div class="dropdown-divider"></div>
                                                  <a class="dropdown-item text-danger" href="#">
                  <i class="material-icons md-14 align-middle">delete</i>
                  <span class="align-middle">Delete</span>
                </a>
                                              </div>
                                          </td>
                                      </tr>

                                  </tbody>
                              </table>
                          </div>
                      </div>
