<h4>Pagos</h4>

<table class="table table-bordered">
  <tbody>
    <%@accounts_payable.payments.each do |payment|%>
      <tr>
        <td scope="col" class="text-left"><%=l payment.payment_date, format: :default, locale: 'es'%></td>
        <td scope="col" class="text-left"><%=value_to_currency(payment.amount)%></td>
        <td scope="col" class="text-center">
          <%=link_to accounts_payable_payment_path(payment.accounts_payable_id, payment.id), title: 'Borrar', class: 'text-danger', data: {confirm: 'Esta seguro?', method: :delete} do%>
            <i class="material-icons md-14 align-middle">delete</i>
          <%end%>
        </td>
      </tr>
    <%end%>
    <tr>
      <td scope="col" class="text-left"><b>Total</b></td>
      <td scope="col" class="text-left"><%=value_to_currency(@accounts_payable.payments.map(&:amount).reduce(:+))%></td>
  </tbody>
</table>
